@font-face {
  font-family: 'VT220';
  src:
    local('Glass_TTY_VT220'), local('Glass TTY VT220'),
    url('~/assets/fonts/Glass_TTY_VT220.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
