@import './fonts.scss';
@import './variables.scss';

body, html {
  margin: 0;
  padding: 0;
  background: $black;
  font-family: $main-font, monospace;
  font-size: 2.5vh;
  letter-spacing: 1px;
  color: $main-green;
  overflow: hidden;
}

a {
  color: $main-green;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: $white;
}

a::before {
  display: inline;
  content: ">";
  padding-right: .2rem;
}

.page,
.content {
  padding: 1rem 2rem 1rem 2rem;
}

.invisible {
  visibility: hidden;
}

.animate-centered {
  transform-box: fill-box;
  transform-origin: center;
}

.content-preload {
  width: 100vw;
  height: 100vh;
  animation: fadeOut .15s ease-in;
}

.screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  font-family: $main-font, monospace;
}

.screen-wrapper {
  border: .3rem solid $black;
}
