.interface_content {
  margin-top: 4vh;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  min-width: 1024px;
}

.interface_content .content:not(:first-child) {
  margin-left: 4vw;
}

.hack-content {
  float: left;
  width: auto;
  box-sizing: border-box;
  height: auto;
  opacity: 90%;
  z-index: 100;
  margin-right: 4vw;
}

.content_service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content_service__log {
  flex-basis: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.service_row {
  width: 100%;
}

.content_service__cli {
  min-height: 2rem;
  padding-top: 1rem;
}

.row__index {
  margin-right: 8px;
}

.highlighted {
  color: white;
  background: rgba(55,155,55,0.5);
}

.interface_header p:last-child {
  margin-top: 0;
  min-height: 4vh;
}

.interface_header p:first-child {
  margin-bottom: 0;
}
