.loading__svg {
  display: block;
  width: 50vw;
  height: 85vh;
  fill: rgba(235, 255, 223, .5);
  position: absolute;
  right: 25vw;
  top: 5vh;
}

.rotate {
  animation: rotate 15s linear infinite;
}

.scalemove {
  animation: scaleAndMove .4s ease-in-out forwards;
  transition: .3s;
}
 
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes scaleAndMove {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(.3);
  }
  100% {
    transform: translateY(45%) translateX(85%) scale(.3);
    opacity: .2;
  }
}