body,html {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    font-family: "VT220";
    font-size: 1rem;
    color: rgba(235, 255, 223, 0.75);
}

.animate-centered {
  transform-box: fill-box;
  transform-origin: center;
}

.screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 2rem;
  font-family: "VT220";
}

.screen-wrapper {
  border: .3rem solid rgb(0, 0, 0);
}

.screen-border {
  box-shadow: 0 0 2.5rem 1rem white inset;
  opacity: .2;
  z-index: 9;
}

.screen__background_fill {
  background-image:
    radial-gradient(
      ellipse farthest-corner,
      rgb(134, 151, 129),
      #000000 97%
    );
  border-radius: none;
  animation: pulsebg 6s ease-in infinite alternate;
}

.screen__background_fill::before {
  background-image:
    radial-gradient(
      ellipse farthest-corner,
      rgb(134, 151, 129),
      #000000 85%
    );
}

.screen__background_stripes {
  background: linear-gradient(
    to bottom,
    #5d9634,
    #a2c28b 50%,
    #538c2b 50%,
    #a2c28b
  );
  background-size: 100% 6px;
  opacity: .1;
  z-index: 100;
}

.screen__effects-stripe {
   width: 100%;
   height: 1px;
   box-shadow: 2px -5px 14px 1px white;
   background: white;
   opacity: .35;
   -webkit-animation: upToBottom 8s infinite linear;
   animation: upToBottom 8s infinite linear;
   z-index: 999;
}

@keyframes upToBottom {
    -1% { transform: translateY(-5vh); }
    100% { transform: translateY(105vh); }
}

.pulse {
  animation: pulse 3s ease-in-out infinite alternate;
}

@keyframes pulse {
  from { opacity: .0; }
  to { opacity: .25; }
}

@keyframes pulsebg {
  from { opacity: 1; };
  to { opacity: .7; };
}
  